<h1>SendGrid Search app</h1>

<div class="row">

  <div class="medium-3 columns">
    <app-navBar></app-navBar>
  </div>  

  <div class="medium-6 columns">
    <form (submit)="onSubmit()" method="#" accept-charset="utf-8" role="form" name="nameFormToEmail" id="idFormtoemail" data-abide novalidate>
      <app-toEmail></app-toEmail>
      <app-dateSelector></app-dateSelector>
      <app-searchButton></app-searchButton>
    </form>
      <!-- create submit button component?-->
      
    </div>
  </div>


<!--new row and component for return results?-->
<!--new component and foundadtion for pagination?-->
