<table class="table">
        <thead>
            <tr>
                <th>Start date&nbsp;
                    <a href="#" class="button tiny" id="dp4" data-date-format="yyyy-mm-dd" data-date="startDate">Change</a>
                </th>
                <th>End date&nbsp;
                    <a href="#" class="button tiny" id="dp5" data-date-format="yyyy-mm-dd" data-date="endDate">Change</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="startDate"></td>
                <td id="endDate"></td>
                <span></span>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-box"  style="display:none;" id="alert">	<strong>Oh snap!</strong>
    </div>